
<!-- Modal Pesquisar Usuário -->
<div id="modalPesquisarUsuario" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header raised pb-3">
                <h3 class="modal-title">Pesquisar usuário</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <p class="lead">Clique em um usuário para selecioná-lo.</p>
            <hr>
                <div class="table-responsive">
                <table class="table table-sm responsive table-striped table-hover"
                        id="tableUsuarios" style="width: 100%;">
                    <caption>Lista de usuários</caption>
                    <thead class="bg-default-primary">
                        <tr>
                            <th>&#9432;</th>
                            <th>Nome</th>
                            <th class="none">Email</th>
                            <th class="none">Tipo</th>
                            <th>CPF</th>
                            <th>Matrícula</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-raised" data-dismiss="modal" onclick="recuperarUsuarioSelecionado();">Selecionar</button>
            </div>
        </div>
    </div>
</div>
<!-- fim modal Pesquisar Usuário -->