.DS_Store

bikeifs_app_folder/cache/*
!bikeifs_app_folder/cache/index.html

bikeifs_app_folder/logs/*
!bikeifs_app_folder/logs/index.html

!bikeifs_app_folder/*/.htaccess

composer.lock

/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*
.vscode/settings.json

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
.vscode/*
