@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
.dropdown-menu-center {
    left: 50% !important;
    right: 50% !important;
    text-align: left !important;
    transform: translate(-50%, 0) !important;
    display: block;
    position: relative;
    margin: 40px auto;
}

.lista-pendencias {
    overflow-y: scroll;
    width: 100%;
    height: auto;
    max-height: 60rem;
    background-color: #fff;
}

.dd-option-image {
    box-shadow: 1px 1px 5px gray;
    border-radius: 50%;
}

.dt-foto {
    width: 4rem;
    height: auto;
}

.jumbotron-main {
    box-shadow: 5px 5px 20px gray;
    background: linear-gradient(rgba(30, 30, 50, 0.9), rgba(30, 30, 50, 0.9)), url('http://bikeifs.com/public/img/jumbotrom-bg.jpg');
}

.div-datepicker {
    display: inline-flex;
    float: left
}

.div-datepicker label {
    margin: 8px 5px 0 !important;
    min-width: fit-content;
}

.table-datepicker {
    margin-top: -45px !important;
}

@media screen and (max-width: 767px) {
    .table-datepicker {
        margin-top: 6px !important;
    }
    .dataTables_filter label,
    .dataTables_filter label input,
    .div-datepicker,
    .div-datepicker div {
        width: 100% !important;
    }
    .pagination {
        justify-content: center !important;
    }
}

.header-gradient {
    background: -moz-linear-gradient(140deg, #379944 0%, #3a9d47 8%, #3da94b 13%, #009BBA 73%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(27%, #009BBA), color-stop(87%, #3da94b), color-stop(92%, #3a9d47), color-stop(100%, #379944));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(140deg, #379944 0%, #3a9d47 8%, #3da94b 13%, #009BBA 73%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(140deg, #379944 0%, #3a9d47 8%, #3da94b 13%, #009BBA 73%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(140deg, #379944 0%, #3a9d47 8%, #3da94b 13%, #009BBA 73%);
    /* ie10+ */
    background: linear-gradient(310deg, #379944 0%, #3a9d47 8%, #3da94b 13%, #009BBA 73%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#009BBA', endColorstr='#379944', GradientType=1);
}

.raised {
    box-shadow: 0px 2px 6px gray !important;
}

.canvas-list div canvas {
    transition: all .3s linear;
}

.canvas-list div canvas:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn-filtro {
    width: 100%;
    border: 1px solid #ffffff8a;
    text-align: left;
    border-radius: 0.5rem;
    background-color: #FFF;
}

.dropdown-filtro {
    /* Estiliza o container do filtro de pesquisa */
    box-shadow: 2px 2px 3px rgb(130, 130, 130);
}

.dropdown-filtro-item {
    min-width: 100% !important;
    padding-bottom: 0;
    padding-top: 0;
}

.dropdown-filtro-item:active,
.dropdown-filtro-item:hover {
    /* Suprime o estilo padrão da classe dropdown-item */
    color: initial !important;
    text-decoration: initial !important;
    background-color: initial !important;
}

table.dataTable tr.dtrg-group td {
    background-color: rgba(188, 255, 182, 0.459) !important;
}


/* Modal gerado pelas DataTables
    É necessário reconfigurar a propriedade z-index para que não conflite com o header da página
*/

.dtr-modal {
    z-index: 1100 !important;
}

.div-destinatarios {
    border: 1px solid rgb(160, 160, 160);
    padding: 10px;
    min-height: 70px;
    height: auto;
    max-height: 70px;
    overflow-y: hidden;
    overflow-x: scroll;
    display: inline-flex;
}

.alert-destinatario {
    width: fit-content;
    height: fit-content;
    margin: 5px 0 5px 5px;
    background: #15a334b3;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    display: inline-flex;
}

.alert-destinatario:hover {
    background: #15a334;
}

.modal-header.alert.sticky-top {
    margin-right: 0 !important
}

.modal-header {
    border-top: #009688 5px solid;
}

.snackbar-sucesso,
.snackbar-sucesso span {
    background-color: teal !important;
}

.tooltip-w3 {
    position: relative;
    display: inline-block;
}

.tooltip-w3-dotted {
    border-bottom: 1px dotted black;
}

.tooltiptext-w3 {
    visibility: hidden;
    width: fit-content;
    color: #fff;
    text-align: justify;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1049;
    left: 50%;
    bottom: 110%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    font-family: 'Roboto Mono', monospace;
    border: 2px solid #888;
    background: #333;
}

.tooltiptext-w3 a {
    color: white;
}

.tooltip-w3:hover .tooltiptext-w3 {
    visibility: visible;
    opacity: 1;
}

.tooltip-w3 .tooltiptext-w3::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #888 transparent transparent transparent;
}

.input-group-append button {
    outline: none;
    box-shadow: none;
    padding: 0 .75rem
}

.input-group-append button:hover,
.input-group-append button:focus {
    background: transparent !important;
}

.carousel-caption {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: bolder;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.carousel-caption:hover {
    filter: opacity(0.2);
}

.carousel-caption p {
    font-size: 1.5rem;
}

.heading-login {
    background-color: rgb(16, 161, 149);
    color: white;
    display: inline-block;
    padding: .25em 0.5em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .35rem;
    font-size: 1.5rem;
}

.heading-home {
    background-color: #3da94b;
    color: white;
    display: inline-block;
    padding: .25em 1em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.p-home {
    text-align: justify;
    color: #f8f9fa!important;
    font-size: 1.25rem;
    font-weight: 300;
}

.breadcrumb-home {
    box-shadow: 5px 5px 20px rgba(100, 100, 100, 0.2) !important;
    filter: brightness(1.2) !important;
}

.breadcrumb-home a {
    color: rgb(212, 212, 212) !important;
    font-weight: 600 !important;
}

.icon-home {
    width: 85px;
}

.img-home {
    width: 25%;
    min-width: 150px;
}

.img-home.float-left {
    margin-right: 50px;
}

.img-home.float-right {
    margin-left: 50px;
}

.img-home.img-thumbnail {
    background-color: #cbcbcbd4;
}

.img-zoom {
    max-width: 120px;
    max-height: 120px;
    border-radius: 5%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

img[rel=popover] {
    cursor: pointer;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.topo {
    display: block;
    position: fixed;
    bottom: 0%;
    right: 10%;
    width: 55px;
    height: 100px;
    z-index: 1049;
    border: none;
}

.topo:focus {
    outline: none;
    border: none;
}

.topo button {
    font-size: 20pt;
    display: block;
    position: fixed;
    bottom: -6%;
    right: inherit;
    width: 55px;
    height: 100px;
    padding: 5px;
    padding-bottom: 10px;
    border: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 3% 3% 0 0;
    cursor: pointer;
    transition: all 0.2s linear;
}

.topo button:focus {
    outline: none;
    border: none;
}

.topo button img {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: -1%;
    right: inherit;
    transition: all 0.2s linear;
}

.topo:hover button {
    bottom: 3%;
    border-radius: 50%;
    height: 55px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    filter: brightness(1.2);
}

.topo:hover button img {
    bottom: 10%;
    right: 1%;
}

.text-sm {
    font-size: 10pt;
}

.color-list {
    display: flex;
    justify-content: center;
}


/* CSS da lista de cores no popoverlEscolherCores */

.popover-color-item {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin: 2px;
}

.popover-color-item.selecionada {
    box-shadow: 0 0 0 3px #16c506bb;
}

.popover-color-item:hover {
    opacity: 0.8;
    cursor: pointer;
}


/* Container que representa a(s) cor(es) das bicicletas */

.bike-color {
    width: 100%;
    text-align: center;
    padding: 8px;
    color: white;
}

.table-responsive {
    overflow-x: hidden !important;
}

.table {
    z-index: 1039;
}

.dt-center,
.text-center {
    text-align: center !important;
}

.navbar {
    margin-bottom: 30px;
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    /* border-color: #80bdff; */
    outline: 0;
    box-shadow: none;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #0ea700;
    background-color: #0ea700;
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 128, 0.25);
}

html {
    overflow-x: hidden;
}

.icon-logo {
    width: 60px;
}

.logo {
    width: 150px;
}

body {
    font-family: helvetica, arial;
    font-size: 16px;
    color: #333;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
}

#pagina {
    position: relative;
    min-height: 85.5vh;
}


/* Para telas grandes, define o tamanho da página um pouco maior. Assim o footer não fica flutuando */

@media screen and (min-height: 665px) {
    #pagina {
        min-height: 87.5vh;
    }
}

@media screen and (min-height: 900px) {
    #pagina {
        min-height: 90vh;
    }
}

#conteudo {
    padding-bottom: 2.5rem;
}

footer {
    background-color: #093e47;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 12pt;
    color: lightgray;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
}