<!-- Modal sucesso -->
<div id="modalSucessoEsqueciSenha" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert alert-success" >
                <h3 class="modal-title">Sucesso!</i></h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h4>Sua senha foi alterada e enviada para o seu email com êxito.</h4>
                <p>Copie-a para realizar o login e alterar ao seu gosto.</p>
            </div>
            <div class="modal-footer">
                <a href="?pagina=login" role="button" class="btn btn-info">OK</a>
            </div>
        </div>
    </div>
</div>