<!-- Modal tipo visitante -->
<div id="modalTipoVisitante" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert alert-warning" >
                <h3 class="modal-title">Visitante</i></h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h4>Este usuário é um visitante.</h4>
                <p class="lead">Ele não se encaixa nas situações 'Ativo' ou 'Inativo'. Um visitante pode trazer sua bicicleta a qualquer momento.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>