
<!-- Modal tag já cadastrada -->
<div id="modalTagJaCadastrada" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert alert-warning" >
                <h3 class="modal-title">Tag já cadastrada.</i></h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h4>Uma etiqueta RFID já está cadastrada para esta bicicleta.</h4>
                <p class="lead">Exclua a etiqueta atual para cadastrar uma nova.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- fim modal tag já cadastrada -->