
<!-- Modal Pesquisar Usuário -->
<div id="modalHistoricoUsuario" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert alert-primary" >
                <h3 class="modal-title">Histórico do usuário</i></h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-sm responsive bg-light table-bordered table-striped table-hover" id="tableRegistros" style="width: 100%;">
                        <caption>Histórico de registros</caption>
                        <thead class="table-h">
                            <tr>
                                <th class="all">#</th>
                                <th class="all">Hora entrada</th>
                                <th class="desktop">Obs entrada</th>
                                <th class="all">Fun. entrada</th>
                                <th class="none">Nº trava:</th>
                                <th class="all">Cor</th>
                                <th class="none">Modelo, Marca, Aro</th>
                                <th class="never">bike - marca</th>
                                <th class="never">bike - aro</th>
                                <th class="none">Hora saída:</th>
                                <th class="none">Obs saída:</th>
                                <th class="none">Fun. saída:</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot class="table-f">
                            <tr>
                                <th>&#9432;</th>
                                <th>Hora entrada</th>
                                <th>Obs entrada</th>
                                <th>Funcionário entrada</th>
                                <th>Nº trava</th>
                                <th>Cor</th>
                                <th>Modelo, Marca, Aro</th>
                                <th>bike - marca</th>
                                <th>bike - aro</th>
                                <th>Hora saída</th>
                                <th>Obs saída</th>
                                <th>Funcionário saída</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- fim modal Pesquisar Usuário -->