<!-- Popover Escolher cores -->
<div id="popoverEscolherCores" class="popover hidden" role="tooltip">
    <h3 class="popover-header">
        Escolha uma ou mais cores
        <button type="button" class="close closePopover" data-dismiss="modal">&times;</button>
    </h3>
    <div id="popoverCoresBody" class="popover-body">
        <button id="FFFFFF" class="popover-color-item" style="background-color: #FFFFFF;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="C0C0C0" class="popover-color-item" style="background-color: #C0C0C0;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="000000" class="popover-color-item" style="background-color: #000000;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="FF0000" class="popover-color-item" style="background-color: #FF0000;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="BB0000" class="popover-color-item" style="background-color: #BB0000;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="8F5526" class="popover-color-item" style="background-color: #8F5526;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="D4BC6D" class="popover-color-item" style="background-color: #D4BC6D;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="FF8800" class="popover-color-item" style="background-color: #FF8800;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="FF5E00" class="popover-color-item" style="background-color: #FF5E00;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="D86C15" class="popover-color-item" style="background-color: #D86C15;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="FFC400" class="popover-color-item" style="background-color: #FFC400;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="FFFF00" class="popover-color-item" style="background-color: #FFFF00;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="D9FF00" class="popover-color-item" style="background-color: #D9FF00;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="00A800" class="popover-color-item" style="background-color: #00A800;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="00FF80" class="popover-color-item" style="background-color: #00FF80;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="00FFFF" class="popover-color-item" style="background-color: #00FFFF;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="00BFFF" class="popover-color-item" style="background-color: #00BFFF;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="0042F8" class="popover-color-item" style="background-color: #0042F8;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="0C00B3" class="popover-color-item" style="background-color: #0C00B3;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="7400F8" class="popover-color-item" style="background-color: #7400F8;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="FF94EB" class="popover-color-item" style="background-color: #FF94EB;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="F500F5" class="popover-color-item" style="background-color: #F500F5;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="FF0080" class="popover-color-item" style="background-color: #FF0080;" onclick="adicionarOuRemoverCor(this);"></button>
        <button id="800080" class="popover-color-item" style="background-color: #800080;" onclick="adicionarOuRemoverCor(this);"></button>
    </div>
</div>
<!-- Fim Popover Escolher cores -->